@import '../../utils/colors.scss';

li.dev-item {
	background: white;
	box-shadow: 0 0 14px 0 $shadow-light;
	border-radius: 2px;
	padding: 20px;

	header {
		display: flex;
		flex-direction: row;
		align-items: center;

		img {
			width: 54px;
			height: 54px;
			border-radius: 50%;
		}

		.user-info {
			margin-left: 10px;
		}
	}

	p {
		color: $gray-ash;
		font-size: 14px;
		line-height: 20px;
		margin: 10px 0;
	}

	a {
		color: $purple;
		font-size: 14px;
		text-decoration: none;
		&:hover {
			color: $purple-dark;
		}
	}
}

.user-info {
	strong {
		display: block;
		font-size: 16px;
		color: #333;
	}

	span {
		font-size: 13px;
		color: #999;
		margin-top: 2px;
	}
}
